$grid-max-width: 990px;
$side-bar-width: 300px;
$color-light-new: #e5e5e5;

@import 'node_modules/vanilla-framework/scss/vanilla';
@include vanilla;

.p-strip {
  position: relative;
}

[class^="p-strip"].is-bordered {
  margin-bottom: 0;
}

.container {
  border: 1px solid $color-mid-light;
  margin: 0 auto;
  max-width: 990px;
}

%hover-button {
  display: none;
  position: absolute;

  .p-strip:hover & {
    display: block;
  }
}

.remove-button {
  @extend %hover-button;
  right: 1rem;
  top: 1rem;
}

.move-up-button {
  @extend %hover-button;
  right: 1rem;
  top: 4rem;
}

.move-down-button {
  @extend %hover-button;
  right: 1rem;
  top: 7rem;
}

.u-mirror--y {
  transform: rotate(180deg);
}

.global-nav {
  background: #333;
  position: sticky;
  top: 0;
  z-index: 100;

  .global-nav__row {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: $grid-max-width;
  }

  .global-nav__logo {
    color: $color-x-light;
    margin: 0;
  }

  .p-button--positive {
    margin: 0;
  }
}

.ghost-strip {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed $color-mid-light;
  height: 300px;
}

.dropdown {
  position: relative;

  .dropdown__menu {
    @extend %p-card--highlighted;
    position: absolute;
    left: 100%;
    padding: 0;
    width: 100%;
    top: 0;
  }

  .p-list__item {
    padding: 0;
  }
}

.p-button--list {
  @extend %p-button--base;

  border-radius: 0;
  margin-bottom: 0;
  padding: $spv-intra--condensed $sph-intra--condensed;
  text-align: left;
  transition-duration: 0s;
  width: 100%;
}

.strip-container {
  position: relative;

  .strip-controls {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 20rem;
    background-color: $color-light-new;
    padding: $spv-intra $sph-intra;
    border: 1px solid $color-mid-light;
  }
}

.p-combo-box {
  display: flex;
  margin: 0;
  position: relative;

  &::after {
      @include vf-icon-search($color-mid-dark);
      @include vf-icon-size(1rem);

      content: '';
      position: absolute;
      left: .75rem;
      top: .675rem;
  }
}

.p-combo-box__input {
  @extend .p-search-box__input;

  box-shadow: none;
  margin-bottom: 0;
  padding-left: 2.25rem;
  padding-right: 2rem;
}

.p-combo-box__button {
  margin: 0;
  border-radius: 0;
  padding-left: .675rem;
  padding-right: .675rem;
  position: absolute;
  right: 0;
}

.p-combo-box__reset {
  @extend .p-search-box__reset;

  margin: 0;
}

.p-combo-box__dropdown {
  @extend %vf-has-box-shadow;

  background: $color-x-light;
  max-height: 33vh;
  min-width: 100%;
  overflow: auto;
  padding: $spv-intra $sph-intra--condensed;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
}
