$grid-max-width: 990px;
$side-bar-width: 300px;

@import 'node_modules/vanilla-framework/scss/vanilla';
@include vanilla;

.p-strip {
  position: relative;
}

[class^="p-strip"].is-bordered {
  margin-bottom: 0;
}

.container {
  border: 1px solid $color-mid-light;
  margin: 0 auto;
  max-width: 1400px;
}

%hover-button {
  display: none;
  position: absolute;

  .p-strip:hover & {
    display: block;
  }
}

.remove-button {
  @extend %hover-button;
  right: 1rem;
  top: 1rem;
}

.move-up-button {
  @extend %hover-button;
  right: 1rem;
  top: 4rem;
}

.move-down-button {
  @extend %hover-button;
  right: 1rem;
  top: 7rem;
}

.u-mirror--y {
  transform: rotate(180deg);
}

.global-nav {
  background: #333;
  position: sticky;
  top: 0;
  z-index: 100;

  .global-nav__row {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: $grid-max-width;
  }

  .global-nav__logo {
    color: $color-x-light;
    margin: 0;
  }

  .p-button--positive {
    margin: 0;
  }
}