$grid-max-width: 990px;
$side-bar-width: 300px;
$color-light-new: #e5e5e5;

@import 'node_modules/vanilla-framework/scss/vanilla';
@include vanilla;

.p-strip {
  position: relative;
}

[class^="p-strip"].is-bordered {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
}

.u-mirror--y {
  transform: rotate(180deg);
}

.global-nav {
  background: #333;
  position: sticky;
  top: 0;
  z-index: 100;

  .global-nav__row {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: $grid-max-width;
  }

  .global-nav__logo {
    color: $color-x-light;
    margin: 0;
  }

  .p-button--positive {
    margin: 0;
  }
}

.strip-container {
  position: relative;

  .strip-controls {
    background-color: $color-light-new;
    border-bottom: 1px solid $color-mid-light;
    bottom: 0;
    padding: $spv-intra $sph-intra;
    position: absolute;
    right: 0;
    top: 0;
    width: 20rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 10px;
      background-image: linear-gradient(
        to right,
        rgba(102, 102, 102, 0.2) 0%,
        rgba(102, 102, 102, 0) 100%
    );
    }
  }
}

.p-combo-box {
  display: flex;
  margin: 0;
  position: relative;
}

.p-combo-box__input {
  @extend .p-search-box__input;

  box-shadow: none;
  margin-bottom: 0;
  padding-left: $sph-intra;
  padding-right: 2rem;
}

.p-combo-box__button {
  margin: 0;
  border-radius: 0;
  padding-left: .675rem;
  padding-right: .675rem;
  position: absolute;
  right: 0;
}

.p-combo-box__reset {
  @extend .p-search-box__reset;

  margin: 0;
}

.p-combo-box__dropdown {
  @extend %vf-has-box-shadow;

  background: $color-x-light;
  max-height: 33vh;
  min-width: 100%;
  overflow: auto;
  padding: $spv-intra $sph-intra--condensed;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
}

.p-button--list {
  @extend %p-button--base;

  border-radius: 0;
  margin-bottom: 0;
  padding: $spv-intra--condensed $sph-intra--condensed;
  text-align: left;
  transition-duration: 0s;
  width: 100%;

  &.p-second-level {
      padding-left: $sph-intra--expanded;
  }

  &.is-selected {
      background-color: $color-light-new;
      font-weight: 400;

      .p-tooltip__message {
          font-weight: 300;
      }

      &.is-light {
          background-color: $color-light;
      }
  }

  &:focus {
      outline-offset: 0;
  }
}

.p-checkbox {
  $box-size: $sp-unit * 2;
  display: block;
  padding-left: $sph-intra--condensed;
  padding-top: 0;
  position: relative;

  .p-checkbox__input {
    float: right;
    margin: 0;
    position: relative;
    width: 0;

    & + .p-checkbox__box {
      left: 0;
      position: absolute;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      // Box
      &::before {
        border: 1px solid $color-mid-light;
        border-radius: $border-radius;
        height: $box-size;
        top: $spv-intra--condensed;
        width: $box-size;
      }

      // Tick
      &::after {
        opacity: 0;
      }
    }

    &:checked + .p-checkbox__box {
      &::before {
        background-color: $color-information;
        border-color: $color-information;
      }

      &::after {
        border-bottom: 2px solid $color-x-light;
        border-left: 2px solid $color-x-light;
        height: 6px;
        left: 3px;
        opacity: 1;
        top: $sp-unit;
        transform: rotate(-45deg);
        width: 10px;
      }
    }

    &:disabled + .p-checkbox__box {
      cursor: not-allowed;
      opacity: .5;
    }
  }
}

.p-checkbox__text {
  padding-left: $sph-intra;
}
